.section {
  margin-top: 84px;
  .container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      //styleName: S4/Default;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      text-align: left;
    }

    &-box {
      display: flex;
      flex-direction: column;

      align-items: left;
      gap: 10px;

      a {
        text-decoration: underline;
      }
    }
    &-link {
      color: $textt;
      //styleName: Body/Underline;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      text-align: left;
    }
    &-href {
      color: $qora;
      opacity: 70%;
      //styleName: Body/Underline;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      text-align: left;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      border: 1px solid $qora;
      border-radius: 7px;
      width: 160px;
    }

    input {
      outline: none;
      border: none;
      width: 100px;
    }

    button {
      border: none;
      background-color: transparent;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      text-align: left;
      color: $textt;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;

    &__item {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      &-img {
        width: 100%;
        height: 180px;
        border-radius: 20px;
      }

      &-tag {
        background-color: #0000000b;
        width: 45px;
        border-radius: 12px;
        color: $textt;
        padding: 1px 8px;
        margin-top: 10px;
      }

      &-title {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        width: 267px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &-subbox {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .section {
    margin-top: 84px;
    .container {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr;
    }

    &__left {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 40px;

      &-box {
        display: flex;
        flex-direction: column;

        align-items: left;
        gap: 10px;
        // width: 140px;

        a {
          text-decoration: underline;
        }
      }

      &-link {
        color: $textt;
      }
      &-href {
        color: $qora;
        opacity: 70%;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border: 1px solid $qora;
        border-radius: 7px;
        width: 160px;
        height: 15px;
      }

      input {
        outline: none;
        border: none;
        width: 100px;
      }

      button {
        border: none;
        background-color: transparent;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        color: $textt;
      }
    }

    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      justify-content: center;

      &__item {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        &-img {
          width: 100%;
          height: 180px;
          border-radius: 20px;
        }

        &-tag {
          background-color: #0000000b;
          width: 45px;
          border-radius: 12px;
          color: $textt;
          padding: 1px 8px;
        }

        &-title {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          width: 267px;
        }

        &-subbox {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 644px) {
  .section {
    margin-top: 84px;
    .container {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 40px;

      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        align-items: left;
        gap: 10px;
        // width: 140px;

        p {
          text-align: center;
        }

        a {
          text-decoration: underline;
        }
      }

      &-link {
        color: $textt;
      }
      &-href {
        color: $qora;
        opacity: 70%;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border: 1px solid $qora;
        border-radius: 7px;
        width: 160px;
        height: 15px;
      }

      input {
        outline: none;
        border: none;
        width: 100px;
      }

      button {
        border: none;
        background-color: transparent;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        color: $textt;
      }
    }

    &__list {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 2px solid #0000002b;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      justify-content: left;
      align-items: center;

      &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;

        &-img {
          width: 100%;
          height: 180px;
          border-radius: 20px;
          margin-right: 20px;
        }

        &-tag {
          background-color: #0000000b;
          width: 45px;
          border-radius: 12px;
          color: $textt;
          padding: 1px 8px;
        }

        &-title {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          width: 267px;
        }

        &-subbox {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 565px) {
  .section {
    margin-top: 84px;
    .container {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 40px;

      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        align-items: left;
        gap: 10px;
        // width: 140px;

        p {
          text-align: center;
          display: none;
        }

        a {
          text-decoration: underline;
        }
      }

      &-link {
        color: $textt;
      }
      &-href {
        color: $qora;
        opacity: 70%;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border: 1px solid $qora;
        border-radius: 7px;
        width: 160px;
        height: 15px;
      }

      input {
        outline: none;
        border: none;
        width: 100px;
      }

      button {
        border: none;
        background-color: transparent;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        color: $textt;
      }
    }

    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      justify-content: center;

      &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-img {
          width: 100%;
          height: 230px;
          border-radius: 20px;
          margin-bottom: 10px;
          margin-right: 0;
        }

        &-tag {
          background-color: #0000000b;
          width: 45px;
          border-radius: 12px;
          color: $textt;
          padding: 1px 8px;
          margin: 0 auto;
        }

        &-title {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: center;
          width: 267px;
        }

        &-subbox {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
